@using Microsoft.Extensions.Configuration
@using Projeto_Mobile_Sustentabilidade.Data.Models.Enuns;
@using Projeto_Mobile_Sustentabilidade.Data.Request;
@inject IConfiguration Configuration
@model EnvioEmailTokenRequest
@{
    Layout = "_EmailBase";   
    var url = Configuration.GetValue<string>("Url");
    switch (Model.PerfilEnum)
    {
        case PerfilEnum.Administrador:
            url = url + "adm";
            break;
        case PerfilEnum.Cliente:
            url = url + "cliente";
            break;
        case PerfilEnum.DonoPosto:
            url = url + "dono-posto";
            break;
        case PerfilEnum.FuncionarioPosto:
            url = url + "funcionario-posto";
            break;
    }
    
    var link = $"{url}/redefinir-senha?token={Model.Token}";
}

@section Header {
    <p>
        <div>Redefinir Sua Senha de Acesso ao LiquiCycle</div>
    </p>
}

<p>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam dapibus tortor sapien, in vestibulum justo
        scelerisque sed. Donec malesuada finibus nibh.
    </div>
</p>
@section Action {
    <a href="@link" style="display: inline-block; background: #042769; font-weight: bold; color:#FFF; border-radius: 4px; padding: 12px 80px; text-decoration: none; text-transform: uppercase;">
        CONFIGURAR SENHA
    </a>
}